// Base

html {
  box-sizing: border-box;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

h1 {
  color: #555;
}

body {
  font-family: $font1;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

a {
  color: #4A90E2;
  text-decoration: none;

  &:hover {
    color: #89B7EC;
  }
}
